.logo {
  font-family: "rubik", sans-serif;
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr 3fr);
  align-items: start;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #7ac751;
  }
}
