.item {
  position: relative;
}
.item:hover .itemAddToCartBtn, .item:hover .itemAddToFavBtn, .item:hover .favorite, .item:focus .itemAddToCartBtn, .item:focus .itemAddToFavBtn, .item:focus .favorite {
  transform: translateX(0);
}

.itemImg {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.itemImg > img {
  width: 100%;
}

.itemAddToCartBtn {
  position: absolute;
  bottom: 55px;
  right: 20px;
  transition: transform 250ms ease-in, background-color 250ms ease-in, color 250ms linear;
}

.itemAddToFavBtn,
.favorite {
  position: absolute;
  bottom: 10px;
  right: 20px;
  transition: transform 250ms linear, background-color 250ms linear, color 250ms linear;
}

.favorite,
.itemAddToCartBtn,
.itemAddToFavBtn {
  border: none;
  border-radius: 50%;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #555555;
  transform: translateX(200%);
  cursor: pointer;
}
.favorite:hover, .favorite:focus,
.itemAddToCartBtn:hover,
.itemAddToCartBtn:focus,
.itemAddToFavBtn:hover,
.itemAddToFavBtn:focus {
  background-color: #7ac751;
  color: #fff;
}

.favorite {
  background-color: rgba(204, 204, 204, 0.6666666667);
}
.favorite .icon {
  fill: #ffff00;
  transition: fill 250ms linear;
}

.textWrapper {
  padding: 8px;
}

.itemTitle {
  margin: 0;
  font-size: 16px;
  color: #555555;
}

.itemPrice {
  font-size: 14px;
  color: #7ac751;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: white;
  color: #555555;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
  fill: green;
}
.closeButton:hover, .closeButton:focus {
  background-color: #7ac751;
  color: white;
  transform: scale(1.1);
}/*# sourceMappingURL=Item.module.css.map */