.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(85, 85, 85, 0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 450px;
  text-align: center;
  overflow: hidden;
  background-color: #555555;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.containerHeader {
  position: relative;
  padding: 0.5em;
  background-color: #bbb;
  margin-bottom: 1em;
}
.containerHeader button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: white;
  color: #555555;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
  fill: green;
}
.containerHeader button:hover, .containerHeader button:focus {
  background-color: #7ac751;
  color: white;
  transform: scale(1.1);
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.text {
  margin-bottom: 12px;
}

.button {
  min-width: 70px;
  min-height: 30px;
  margin-bottom: 1em;
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: white;
  color: #555555;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}
.button:not(:last-of-type) {
  margin-right: 1em;
}
.button:hover, .button:focus {
  background-color: #7ac751;
  color: white;
  transform: scale(1.1);
}/*# sourceMappingURL=Modal.module.css.map */