.form {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  border: 2px solid rgba(85, 85, 85, 0.3333333333);
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  font-size: 14px;
}

.title {
  color: #555555;
  text-transform: uppercase;
}

.button {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 96px;
  height: 40px;
  background-color: rgba(85, 85, 85, 0.2666666667);
  color: #555555;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 250msc linear, color 250msc linear, box-shadow 250msc linear;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #7ac751;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(122, 199, 81, 0.3333333333);
}
.button:disabled {
  color: rgba(85, 85, 85, 0.3333333333);
}
.button:disabled:hover, .button:disabled:focus {
  cursor: default;
  background-color: rgba(85, 85, 85, 0.2666666667);
  color: rgba(85, 85, 85, 0.3333333333);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=CartForm.module.css.map */