.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555555;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  transition: transform 250ms liner;
}
.item:hover, .item:focus {
  transform: scale(1.2);
  cursor: pointer;
}
.item:not(:last-child) {
  margin-right: 80px;
}

.active {
  font-weight: 700;
  color: rgba(255, 127, 80, 0.4666666667);
}/*# sourceMappingURL=PageNavigation.module.css.map */