body {
  margin: 0;
  font-family: "rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
