.additionalWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actions {
  position: relative;

  color: #555555;

  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.actionsCount {
  position: absolute;
  top: -3px;
  right: -8px;

  vertical-align: middle;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7ac751;
  font-size: 12px;
  color: #fff;
}

.button {
  display: inline-block;
  height: fit-content;
  margin-left: 2em;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
