.list {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  align-items: start;
  gap: 1em;
}

.item {
  list-style: none;
  text-align: start;
  transition: box-shadow 250ms linear;
}
.item:hover, .item:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}/*# sourceMappingURL=ItemsContainer.module.css.map */